
<!-- include header -->
<%- include('include/_header') %> 


<main id="site-main">
    <div class="container d-flex justify-between">
        <div class="box-nav">
            <a href="/add-user" class="new__user">
            <span class="border-shadow">New User<i class="fa-solid fa-circle-user"></i></span>
            </a>
        
    </div>


<!-- Form -->
<form class="form_container" action="/" method="POST">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%- include('include/_show')%> 
        </tbody>
    </table>
</form>
</div>
</main>


<!-- include footer -->
<%- include('include/_footer') %> 

